spring:
  datasource:
    url: jdbc:h2:mem:buecherei;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  data:
    mongodb:
      uri: mongodb://localhost:27017/buecherei_db

# Logging minimal
logging:
  level:
    root: INFO
